<h1>SPA Angular Exemplo</h1>

<nav>
  <a class="button" routerLink="/pacientes-list" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
    Pacientes
  </a> |

  <a class="button" routerLink="/medicos-list" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
    Médicos
  </a>
</nav>

<router-outlet></router-outlet>

<div style="display: none;">

  <app-pacientes-list></app-pacientes-list>
  <app-medicos-list></app-medicos-list>

  <nav>
    <a class="button" routerLink="/pacientes-list">Pacientes</a> |
    <a class="button" routerLink="/medicos-list">Médicos</a>
  </nav>

</div>